.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    padding: 10px 18px;
    text-align: center;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.15px;
}

.button.primary {
    border: 1px solid #C92C39;
    background: #C92C39;
    color: #fff;
}

.button.primary.disabled {
    border: 1px solid #F8A9B0;
    background: #F8A9B0;
}

.button.primary:hover:not(:disabled), .button.primary:active:not(:disabled) {
    border: 1px solid #A52F38;
    background: #A52F38;
}

.button.primary:focus:not(:disabled) {
    border: 1px solid #C92C39;
    background: #C92C39;
    box-shadow: 0px 0px 0px 4px #FAC9CD, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.button.secondary {
    border: 1px solid #DCDBDB;
    background: #fff;
    color: #393737;
}

.button.secondary.disabled {
    background: #fff;
    color: #9D9A9A;
}

.button.secondary:hover:not(:disabled) {
    background: #F3F3F3;
}

.button.secondary:focus:not(:disabled) {
    border: 1px solid #DCDBDB;
    background: #fff;
    box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.button.secondary:active:not(:disabled) {
    background: #ECEAEA;
}